@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");

* {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}